body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ea;
    color: #333;
}

header {
    background-color: #2ecc71;
    color: white;
    padding: 35px;
    text-align: center;
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 50;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2ecc71;
    padding: 20px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    z-index: 1;
}

.logo-text {
    position: absolute;
    top: 50;
    left: 0;
    width: 50px;
    z-index: 1;
}


#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#nav-bar li {
    margin-right: 15px;
}

#nav-bar a {
    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 0 10px;
}

#video {
    max-width: 100%;
}

@media (max-width: 600px) {
    header {
        font-size: 18px;
    }

    #nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    #nav-bar a {
        padding: 10px;
        margin: 5px 0;
    }
}